<div class="auth-container">
  <h2>Inscription</h2>

  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="success" class="success">{{ success }}</div>

  <form (ngSubmit)="register()">
    <input
      type="text"
      placeholder="Nom"
      [(ngModel)]="name"
      name="name"
      required
    />

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <input
      type="password"
      placeholder="Mot de passe"
      [(ngModel)]="password"
      name="password"
      required
    />

    <button type="submit">S’inscrire</button>
  </form>

  <p>
    Déjà inscrit ?
    <a routerLink="/login">Se connecter</a>
  </p>
</div>
